<%- include("header") -%>

<h2>About Me</h2>

<p>Hello, my name Budi Rahmawan..</p>
<p>I'm self taught progammer, started learn data science and now I try to expertice in Web and Mobile apps</p>
<p>I also like design, and research.. Before create app, I create wireframe in Adobe XD and Figma</p>
<a href="http://github.com/Budi721">Visit My Github Repo</a>

<%- include("footer") -%>
